mat-panel-title,
mat-panel-description,
span {
  display: block;
}

.mat-divider-header{
    border-top-color: #000;
}

.home{
  margin: 100px;
}

mat-form-field.mat-form-field {
  width: 100%;
}

.mat-form-field{
  width: 100%;
}